$lightBrown: #5e5b5b;
$brown: #4d3333;
$white: #FFF;
$blue: #3f51b5;
$yellow: #ffeb3b;
$grey: #9d9797;
//fonts
$font1: 'Anonymous Pro', monospace;
$font2: 'Righteous', sans-serif;
$font3: 'Roboto Condensed', sans-serif;